body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}

.form-container h2 {
  text-align: center;
  color: #B87333;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-container input, .form-container select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  color: #333;
}

.form-container button {
  padding: 10px;
  background-color: #FF7F50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login_btn{
    padding: 10px;
  background-color: #FF7F50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;  
}

.form-container button:hover {
  background-color: #B87333;
}

.form-container input:focus, .form-container select:focus {
  outline: none;
  border-color: #FF7F50;
}











/* style for the login page  */


body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}

.form-container h2 {
  text-align: center;
  color: #B87333;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-container input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 14px;
  color: #333;
}

.form-container button {
  padding: 10px;
  background-color: #FF7F50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.form-container button:hover {
  background-color: #B87333;
}

.form-container input:focus {
  outline: none;
  border-color: #FF7F50;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link a {
  text-decoration: none;
  color: #FF7F50;
  font-weight: bold;
  transition: color 0.3s ease;
}

.signup-link a:hover {
  color: #B87333;
}









/* style for the add article page  */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}

.form-container h2 {
  text-align: center;
  color: #B87333;
  margin-bottom: 20px;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-container input, .form-container textarea, .form-container select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  font-size: 14px;
  color: #333;
}

.form-container textarea {
  resize: vertical;
}

.form-container button {
  padding: 10px;
  background-color: #FF7F50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button:hover {
  background-color: #B87333;
}

.form-container input:focus, .form-container textarea:focus, .form-container select:focus {
  outline: none;
  border-color: #FF7F50;
}

  